.video-title {
    font-size: 1.5rem;
    color: white;
    margin: 15px 0;
    font-weight: normal;
    text-align: center;
  }
  
  .subtitle {
    font-size: 1rem;
    color: white;
    text-align: center;
    margin: 5px 0;
  }
  
  .edukasi-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-top: 30px;
    margin-bottom: 60px;
  }
  
  .edukasi-card {
    background-color: #693b17;
    padding: 20px;
    border-radius: 12px;
    width: 80%;
    max-width: 600px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  }
  
  .edukasi-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
  }
  
  .edukasi-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #693b17;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .edukasi-button:hover {
    background-color: #ddd;
  }
  
  .main-edukasi {
    background-color: #ffdbb5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .layout {
    flex: 1;
  }
  
  .edukasi-title {
    font-size: 2.5rem;
    color: #693b17;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .edukasi-card h2 {
    color: white;
    font-size: 1.8rem;
    margin-bottom: 10px;
  }